<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-12">
    <h2>
      <a href="/otherblog/{{blog.id}}">{{title}}</a>
    </h2>
    <p>Posted by {{user.username}} on {{format_date date_created}}</p>
  </div>
  <div class="col-md-12">
    <p>
      {{content}}
    </p>
  </div>
</div>
{{/each}}
